@charset "UTF-8";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: rgb(20, 20, 77);
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}


section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);

}

div#imagem{
    background-image: url(entrada.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 33%;
}