@charset "UTF-8";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background: linear-gradient(to bottom,rgb(141, 118, 96), gray);
    height: 100vh;
    width: 100vw;
    line-height: 2em;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
    
}


section#login{
    background-color: white;
    width: 333px;
    height: 640px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    

}

div#imagem{
    background-image: url(entrada.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 38%;
    box-shadow: 1px 10px 15px rgba(202, 175, 149, 0.507);
    margin-bottom: 1vh;
    position: relative;

}

