@charset "UTF-8";



*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background: linear-gradient(to bottom,rgb(141, 118, 96), gray);
    height: 100vh;
    width: 100vw;
    line-height: 2em;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
    transition: all 0.8s ease-in-out;

}

h1{
    margin-left: 3vh;
}

section#login{
    background-color: white;
    width: 333px;
    height: 640px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 2.5em;
}

div#imagem{
    background-image: url(entrada.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 38%;
    box-shadow: 1px 10px 15px rgba(202, 175, 149, 0.233);
    margin-bottom: 1vh;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}



input{
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.055);
    height: 50px;
    width: 250px;
    font-size: small;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 2vh;
    border-radius: 5px;
    background-color: rgba(202, 175, 149, 0.233);
    transition: background-color 0.4s;

}

input:hover{
    background-color: antiquewhite;
}

input:focus{
    background-color: rgba(138, 107, 78, 0.384);

}

input#iemail{
    position: absolute;
    left: 11%;
}



input#isenha{
    position: absolute;
    left: 11%;
    top: 67%;
}

input#envio{
    background-color: gray;
    position: absolute;
    left: 47%;
    top: 82%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 42px;
    transition: background-color 0.3s;
}

input#envio:hover{
    background-color: rgba(128, 128, 128, 0.767);
}

input#envio:focus{
    background-color: white;
    border: 1px solid black;
}

span{
    margin-left: 1vh;
    padding: 0px;
}

span#icon{
    position: absolute;
    top: 60.5%;
    background-color: antiquewhite;
    border-radius: 100%;
    padding: 5px;
}

span#icon2{
    position: absolute;
    top: 71.1%;
    background-color: antiquewhite;
    border-radius: 100%;
    padding: 5px
}


nav{
    position: absolute;
    top: 92%;
    left: 30%;
}

a{
    color: rgba(0, 0, 0, 0.671);
    text-decoration: none;
    margin: 0.5vh;
}


@media screen and (min-width:790px) {
    

    section#login{
        height: 750px;
        width: 760px;
        
    }

    div#form{
        position: absolute;
        top: 27%;
        left: 47%;
    }

    div#imagem{
        height: 100%;
        width: 38%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    span#icon{
        top: 96%;
    }

    span#icon2{
        top: 141%;
    }

    input#isenha{
        top: 122%;
    }

    p{
        margin-left: 50px;
    }

    nav{
        left: 61%;
    }

    input{
        width: 300px;
    }
    span{
        margin: 0px;
    }

    input#envio{
        top: 190%;
    }
}

@media screen and (min-width:980px) {

    section#login{
        height: 750px;
        width: 900px;
        position: relative;
    }

    input{
        width: 350px;
    }

}

@media screen and (min-width:1200px) {

    section#login{
        height: 800px;
        width: 1100px;
    }

    input{
        width: 400px;
    }
    
    nav{
        left: 63%;
    }

    div#form{
        width: 550px;
    }

    p{
        margin-right: 80px;

    }

}