@charset "UTF-8";



*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background: linear-gradient(to bottom,rgb(141, 118, 96), gray);
    height: 100vh;
    width: 100vw;
    line-height: 2em;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
    
}

h1{
    margin-left: 3vh;
}

section#login{
    background-color: white;
    width: 333px;
    height: 640px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 2.5em;
}

div#imagem{
    background-image: url(entrada.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 38%;
    box-shadow: 1px 10px 15px rgba(202, 175, 149, 0.233);
    margin-bottom: 1vh;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}



input{
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.055);
    height: 60px;
    width: 250px;
    font-size: small;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 2vh;
    border-radius: 5px;
}


span{
    margin-left: 1vh;

}

nav{
    position: absolute;
    top: 92%;
    left: 30%;
}

a{
    color: rgba(0, 0, 0, 0.671);
    text-decoration: none;
    margin: 0.5vh;
}


@media screen and (min-width:500px) {
   
}

@media screen and (min-width:800px) {

}